h1{
    text-align: center;
}

.image{
    text-align: center;
    width: 70%;
    margin: 0 auto;
    
}

#images{
    margin: 50px auto;
    width: 70%;
    text-align: center;
}

#body{
    margin: 20px  auto;
    width: 70%;
    font-size: 25px;
}