{% load static %}
<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <link rel="stylesheet" href="{% static 'home.css' %}">
    </head>
    <body>
        <h1 id= 'title' >シニア掲示板</h1>
        
        {% for article in articles %}
           
                <div class= 'article_index' >
                    <img  src='{{ MEDIA_URL }}{{article.picture}}' width=100% height=200px>
                    <h2>{{ article.title }}</h2>
                </div>
        
        {% endfor %}
    </body>
</html>