{% load static %}
<!DOCTYPE html>
<html>

    <head>
        <meta charset="UTF-8">
        <link rel="stylesheet" href="{% static 'css/post.css' %}">
    </head>
    
    <body>
        <a href="{% url 'home' %}" id="home" > 戻る </a>
        <h1 id= 'title' >　　投稿フォーム</h1>
        <div class="post-form">
            <form action="{% url 'post' %}" method= "post" enctype="multipart/form-data">
            {% csrf_token %}
            {{ form.as_p }}
            <input type="submit" value= "送信" class="btn btn-info" />
            </form>
        </div>
    </body>
    
</html>